# These settings were set by the catalyst build script that automatically
# built this stage.
# Please consult /usr/share/portage/config/make.conf.example for a more
# detailed example.
COMMON_FLAGS="{{ compiling_options.common_flags }}"
CFLAGS="${COMMON_FLAGS}"
CXXFLAGS="${COMMON_FLAGS}"
FCFLAGS="${COMMON_FLAGS}"
FFLAGS="${COMMON_FLAGS}"
MAKEOPTS="-j{{ compiling_options.makeopts }}"

# NOTE: This stage was built with the bindist Use flag enabled
PORTDIR="/var/db/repos/gentoo"
DISTDIR="/var/cache/distfiles"
PKGDIR="/var/cache/binpkgs"
{% if compiling_options.efi_grub is true %}
GRUB_PLATFORMS="efi-64"
{% endif %}

USE="{{ compiling_options.use_flags }}"

# This sets the language of build output to English.
# Please keep this setting intact when reporting bugs.
LC_MESSAGES=C

VIDEO_CARDS="{{ compiling_options.video_cards }}"

GENTOO_MIRRORS="{{ compiling_options.mirrors }}"
